/* base/_config */


/* @Breakpoints*/
/* List of breakpoints, contain: 
  - xs: smallest screen
  - sm: small screen (mobile)
  - md: mmedium screen (tablet, mobile[Landscape])
  - lg: large sceen
  - xl: desktop
  - xxl: HD widthscreen
*/
$breakpoints: (
  xs: 320px,
  sm: 480px,
  md: 768px,
  lg: 1020px,
  xl: 1281px,
  xxl: 1920px,
);
/* individual breakpoints*/
$breakpoint__xs: map-get($breakpoints, xs);
$breakpoint__sm: map-get($breakpoints, sm);
$breakpoint__md: map-get($breakpoints, md);
$breakpoint__lg: map-get($breakpoints, lg);
$breakpoint__xl: map-get($breakpoints, xl);
$breakpoint__xxl: map-get($breakpoints,  xxl);
//=======================================================


/* @Unit */
/* 
  This var is for keep padding and margin semanticity, it's value is based
  in golden proportion, for more info see: https://en.wikipedia.org/wiki/Golden_ratio
  usage: 
    whene u need to set some padding or margin, use $unit * [integer]
*/
$unit: 0.101125rem; /* 1.618px whene HTML font-size:16px*/
//=======================================================


/* @colors */

/* grayscale*/
/* 9 level of gray g--[1-9], when more increase more lighten gray*/
$color__grayscale: (
  g--1:#212529,
  g--2: #343a40,
  g--3: #495057,
  g--4: #6c757d,
  g--5: #adb5bd,
  g--6: #ced4da,
  g--7: #dee2e6,
  g--8: #e9ecef, 
  g--9: #f8f9fa
);

/* Gray */
$color__gray:        map-get($color__grayscale, g--4);
$color__gray--dark:  map-get($color__grayscale, g--2);
$color__gray--light: map-get($color__grayscale, g--7);

/* Blue*/
$color__blue:        #00B4EC;
$color__blue--light: #E5F9FF;
$color__blue--dark:  #006E90;

$color__balck: black;
$color__white: white;

/* Red */
$color__red:       #FF1725;
$color__red--dark: #990009;
$color__red--light: #FFE5E7;

/* Green */
$color__green:        #00D254;
$color__green--light: #E5FFF0;
$color__green:        #00752F;

/* Yellow */
$color__yellow: #FBC12B;
$color__yellow--light: #FFF8E5;
$color__yellow--dark: #664900;
//=======================================================


/* @skin__list 
 * Some elements hav same skins like buttons, tags, alerts, 
 * this var help us to generate respective classes
*/
$skin__list: (default, success, warning, danger, dark);
//=======================================================


/* @font-size
 * there are 7 sizes, $font__size--[1-7]
 **/
$font__size--1: 3rem;
$font__size--2: 2.4rem;
$font__size--3: 2rem;
$font__size--4: 1.4rem;
$font__size--5: 1.2rem;
$font__size--6: 1rem;
$font__size--7: .85rem;