/* base/_fonts-scss*/

/* Import here all font files, separate it by types and font-family
*/

/** @Roboto
*/
$font-roboto-map: (
  "400": (
    (
      url: "../fonts/Roboto/Roboto-Regular.ttf",
      format: "truetype",
    ),
  ),
  "700": (
    (
      url: "../fonts/Roboto/Roboto-Bold.ttf",
      format: "truetype",
    ),
  ),
  "500": (
    (
      url: "../fonts/Roboto/Roboto-Medium.ttf",
      format: "truetype",
    ),
  ),
  "900": (
    (
      url: "../fonts/Roboto/Roboto-Black.ttf",
      format: "truetype",
    ),
  ),
);

@each $_weight, $value in $font-roboto-map {
  $font-name: $font__sans + "--" + $_weight;

  @include font-face($font-name, $value);
  /* Generate extends by following format:
   * %font__roboto--[i?][$weight] ([i] represent italic)
   * for each embeded font create a extension normal and italic
  */
  %font__roboto--#{$_weight},
  %font__roboto--i#{$_weight} {
    font-family: $font-name;
    font-weight: $_weight;
  }
  %font__roboto--i#{$_weight} {
    font-style: italic;
  }
}

/** @RobotoMono
*/
$font-robotoMono-map: (
  "400": (
    (
      url: "../fonts/RobotoMono/RobotoMono-Regular.ttf",
      format: "truetype",
    ),
  ),
  "700": (
    (
      url: "../fonts/Roboto/Roboto-Bold.ttf",
      format: "truetype",
    ),
  )
);

@each $_weight, $value in $font-robotoMono-map {
  $font-name: $font__mono + "--" + $_weight;

  @include font-face($font-name, $value);

  %font__robotoMono--#{$_weight},
  %font__robotoMono--i#{$_weight} {
    font-family: $font-name;
    font-weight: $_weight;
  }
  %font__robotoMono--i#{$_weight} {
    font-style: italic;
  }
}


/** @RobotoSlab
*/
$font-robotoSlab-map: (
  "400": (
    (
      url: "../fonts/RobotoSlab/RobotoSlab-Regular.ttf",
      format: "truetype",
    ),
  ),
  "700": (
    (
      url: "../fonts/RobotoSlab/RobotoSlab-Bold.ttf",
      format: "truetype",
    ),
  ),
  "500": (
    (
      url: "../fonts/RobotoSlab/RobotoSlab-Medium.ttf",
      format: "truetype",
    ),
  ),
  "900": (
    (
      url: "../fonts/RobotoSlab/RobotoSlab-Black.ttf",
      format: "truetype",
    ),
  ),
);
@each $_weight, $value in $font-robotoSlab-map {
  $font-name: $font__serif + "--" + $_weight;

  @include font-face($font-name, $value);

  %font__robotoSlab--#{$_weight},
  %font__robotoSlab--i#{$_weight} {
    font-family: $font-name;
    font-weight: $_weight;
  }
  %font__robotoSlab--i#{$_weight} {
    font-style: italic;
  }
}