* {
  &,
  &::before,
  &::after {
    /* border width doesn't alter element width*/
    box-sizing: border-box;
    /* 
     * same font-size for all elements default 16px = 1rem 
    */ 
    font-size: 1rem; 

    /* restet base font-family*/
    @extend %font__roboto--400;
  }
}

/* reset display-role for old browsers*/
header,
section,
aside,
footer,
article,
details,
hgroup,
menu,
nav,
figcaption,
figure {
  display: block;
}

body {
  /* remove default body margin*/
  margin: 0;

  line-height: 1;
}

/* Lists */
ul,ol {
  list-style: none;
}
