/* elements/_tags.scss*/

/* Base tag*/
.tag {
  font-size: $tag__font-size;
  color: $color__gray--dark;
  padding: $tag__padding;
  background-color: $tag__background;
  border-radius: $border-radius;
}

/* Generate tag skins */
@each $skin in $skin__list {
  .tag--#{$skin} {
    @include skin($skin);
  }
}

/* Tag group*/
.tag-group {
  >.tag {

    display: inline-block;
    margin-bottom: 5px;
  }
  
}

/* Create addone for tags*/
/* Usage example:
 * <div class="tag-group tag--addone">
 *  <span class="tag tag--dark">notification</span>
 *  <span class="tag tag--info">tag name</span>
 *  <span class="tag tag--dark">tag name</span>
 * </div>
*/
@include addone("tag--addone", "tag");
