/* base/mixins/_font-face.mixin.scss*/

@mixin font-face($font-name, $font-route) {
  @font-face {
    font-family: $font-name;
    src: url($font-route+".eot"); /* IE9 */
    src: url($font-route+".eot?#iefix") format('embedded-opentype'), /* IE6-IE8 */
         url($font-route+".woff") format('woff'), /* Modern Browsers */
         url($font-route+".ttf") format('truetype'), /* Safari, Android, iOS */
         url($font-route+".svg#svgFontName") format('svg'); /* Legacy iOS */
  }
}
